<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Create Event</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${event.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Location
            <input th:field="${event.location}" class="form-control">
        </label>
        <p class="error" th:errors="${event.location}"></p>
    </div>
    <div class="form-group">
        <label>Must Register?
            <input th:field="${event.mustRegister}" class="form-control">
        </label>
        <p class="error" th:errors="${event.mustRegister}"></p>
    </div>
    <div class="form-group">
        <label>Number Attending
            <input th:field="${event.numberAttendees}" class="form-control">
        </label>
        <p class="error" th:errors="${event.numberAttendees}"></p>
    </div>
    <div class="form-group">
        <label>Number Parking
            <input th:field="${event.numberParking}" class="form-control">
        </label>
        <p class="error" th:errors="${event.numberParking}"></p>
    </div>
    <div class="form-group">
        <label>Type
            <select th:field="${event.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}"
                ></option>
            </select>
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Event" class="btn btn-success">
    </div>
</form>

</body>
</html>