<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<!--    <script th:src="@{/script.js}"></script>-->
<!--    <link th:href="@{/styles.css}" rel="stylesheet">-->

</head>
<body>

<nav th:fragment="navigation">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/events">All Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/create">Create Event</a></li>
    </ul>
</nav>


</body>
</html>